:root {
  --ff-body: "Poppins";
  --lineHeight-body: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 50em) {
  html {
    font-size: 56.5%;
  }
}

body {
  font-family: var(--ff-body), sans-serif;
  line-height: var(--lineHeight-body);
  position: relative;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.rotate {
  transform: rotate(180deg);
}

svg {
  transition: all 0.3s;
}
